Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  altera-struct-pack-align,
  android-cloexec-accept4,
  android-cloexec-creat,
  android-cloexec-dup,
  android-cloexec-epoll-create,
  android-cloexec-epoll-create1,
  android-cloexec-fopen,
  android-cloexec-inotify-init,
  android-cloexec-inotify-init1,
  android-cloexec-memfd-create,
  android-cloexec-open,
  android-cloexec-pipe,
  android-cloexec-pipe2,
  android-cloexec-socket

WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
FormatStyle: file
