[submodule "ext/cmsis"]
	path = ext/cmsis
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "ext/freertos"]
	path = ext/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "ext/etl"]
	path = ext/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "hal/stm32h7xx_hal"]
	path = hal/stm32h7xx_hal
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
